.homepage-project {
	width: calc(100vw - 300px);
	margin-bottom: 1rem;

	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-width: 1150px) {
	.homepage-project {
		width: calc(100vw - 3rem);
	}
}

.homepage-project-screenshots, .homepage-project-details {
	display: inline-block;
	vertical-align: middle;
}

.homepage-project-screenshots {
	width: 50%;
	max-width: 650px;
}
.homepage-project-details {
	padding: 1rem;
	width: calc(50% - 3rem);
}
.homepage-project-details p {
	margin-top: 3rem;
	white-space: pre-line;
}

.homepage-project-screenshot-mobile {
	display: none;
}
.homepage-project-screenshot-mobile {
	max-width: 90%;
	margin-left: 5%;
}

@media (max-width: 925px) {
	.homepage-project-screenshots {
		display: none;
	}

	.homepage-project-details {
		width: 100%;
	}

	.homepage-project-screenshot-mobile {
		display: initial;
	}
}

.homepage-project-screenshots img {
	height: 26vh;
	margin-top: 5vh;
	margin-left: 10%;
}

.homepage-project-details {
	color: white;
	padding-top: 5vh;
}

.homepage-project-title {
	font-weight: normal;
	font-size: 2rem;
	text-align: center;
}

.homepage-project-logo {
	width: 80%;
	margin-left: 10%;
}

.homepage-project-link-list {
	text-align: center;
	margin-top: 2rem;
}
.homepage-project-link {
	display: inline-block;
	text-align: center;

	margin: 1rem;

	color: white;
	text-decoration: none;
}
.homepage-project-link:hover {
	text-decoration: underline;
}
.homepage-project-link img {
	max-height: 4rem;
	display: block;
	margin: 0 auto;
}

/**
 * Project-specific design
 */
.homepage-project-alchemistry .homepage-project-screenshots img {
	/*background: linear-gradient(#0f324a66, #4c364f66)*/
	/*box-shadow:
		-8px -8px 40px -5px #0f324a,
		 8px -8px 40px -15px #2d344e,
		-8px  8px 40px -15px #2d344e,
		 8px  8px 40px -5px #4c364f;*/
	box-shadow: 0 0 40px 2px #2d344e;
}
.homepage-project-extortion .homepage-project-screenshots img {
	box-shadow: 0 0 40px 2px #34393f;
}
.homepage-project-galactae .homepage-project-screenshots img {
	box-shadow: 0 0 40px 2px #1e101e;
}