<!DOCTYPE html>
<!--
    Code by Elanis
    Copyright 2018-@DateTime.Now.Year
    Don't copy this without permission
-->
<html lang="fr">
<head>
    <title>Dysnomia Studio</title>
    <meta charset="UTF-8">
    <!-- On prepare le charset , les mots clés , le fichier css et l'icone du site -->
    <meta name="keywords" content="">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <link rel="stylesheet" media="screen" type="text/css" title="Design" href="/css/style.css" />
</head>

<body>
    @RenderBody()
</body>
</html>
