---
// src/pages/index.astro
import i18next, { t, changeLanguage } from 'i18next';

import ProjectsData from '../data/ProjectsData.js';

import Contact from '../components/Contact';
import HomepageProject from '../components/HomepageProject';
import Sidebar from '../components/Sidebar';

import './index.css';

const projects = ProjectsData.getProjects();
---

<html lang={i18next.language}>
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dysnomia</title>
		<meta name="description" content={t("site.description")} />
	</head>
	<body>
		{projects.map((project) =>
			<HomepageProject project={project} />
		)}
		<Sidebar projects={projects} />
		<Contact />
	</body>
</html>
