@{
    ViewData["Title"] = "Elanis' Portfolio";
}
<div id="menu-back"></div>
<img src="img/hamburger.png" id="hamburger" alt="menu">
<nav id="menu">
    <ul>
        <li><a href="/">Dysnomia</a></li>
        <li><a class="menuAncre" href="#whoami">Qui sommes nous ?</a></li>
        <li><a class="menuAncre" href="#projects">Projets</a></li>
        <li><a class="menuAncre" href="#contact">Contact</a></li>
        <li><a class="menuAncre" rel="noopener noreferrer" target="_blank" href="https://discord.gg/c8aARey">Discord</a></li>
        <!--<li>
            <form method="post" id="language-form">
                <div id="language-list"></div>
                <input type="text" id="selected-language" name="selected-language">
            </form>
        </li>-->
    </ul>
</nav>
<!--<script type="text/javascript" src="/js/iconselect/control/iconselect.js"></script>
<script type="text/javascript" src="/js/iconselect/iscroll.js"></script>
<script type="text/javascript" src="/js/language-list.js"></script>-->
<script type="text/javascript" src="/js/hamburger.js"></script>

<section id="index-top" class="corps">
    <h1>Dysnomia</h1>
    <p>Creation & Gestion de sites et d'applications dans le web</p>
</section>

<div id="whoami" class="anchor"></div>
<section id="index-comp-desc" class="corps-text">
    <h2>Qui sommes nous ?</h2>
    Dysnomia est une entreprise fondée en juin 2019 par Axel Soupé alias Elanis, le but de cette entreprise est de créer un réseau de sites web dans différents domaines tels que le jeu-vidéo, les outils de développement, le divertissement, etc. Tout ces services sont crées autour d'une même idée fondatrice: rendre les contenus accessibles facilement, gratuitement et légalement à tout un chacun.<br />
    <br />
    Actuellement, l'entreprise est composée d'une seule personne, moi, Axel Soupé, mais j'espère pouvoir agrandir mon projet rapidement.<br />
</section>

<div id="projects" class="anchor"></div>
<section id="index-projects" class="corps">
    <h2>Nos projets</h2>
    <div class="project-list">
        <div class="project-item">
            <span class="project-title"><a href="https://howtoopen.me" rel="noopener noreferrer" target="_blank">HowToOpen.me</a></span>
            <span class="project-time">Depuis 2018</span><br /><br />
            <span class="project-type">Outil</span><br />
            <span class="project-desc">HowToOpen.me est un site répertoriant les différents logiciels afin de visualiser, d'éditer, un fichier selon son extension.</span><br /><br />
            <span class="project-logo"><a href="https://howtoopen.me" rel="noopener noreferrer" target="_blank"><img src="img/icons/howtoopenme.jpg" alt="howtoopen.me"></a></span>
            <span class="project-url"><a href="https://howtoopen.me" rel="noopener noreferrer" target="_blank">www.howtoopen.me</a></span><br />
        </div>

        <div class="project-item">
            <span class="project-title"><a href="https://dehash.me" rel="noopener noreferrer" target="_blank">Dehash.me</a></span>
            <span class="project-time">Depuis 2017</span><br /><br />
            <span class="project-type">Outil</span><br />
            <span class="project-desc">Dehash.me est un site permettant de hash (chiffrer sans pouvoir dechiffrer), mais aussi de "dehash". Afin de retourner ces hash, il utilise un dictionnaire grandissant chaque jour, répertoriant le résultat hashé de chaque mot.</span><br /><br />
            <span class="project-logo"><a href="https://dehash.me"><img src="img/icons/dehashme.jpg" alt="dehash.me"></a></span>
            <span class="project-url"><a href="https://dehash.me">www.dehash.me</a></span><br />
        </div>

        <div class="project-item">
            <span class="project-title"><a href="https://galactae.eu" rel="noopener noreferrer" target="_blank">Galactae: Space Age Dawn</a></span>
            <span class="project-time"><span class="project-time">Depuis 2016<br>En Bêta depuis 2019</span></span><br /><br />
            <span class="project-type">Jeu navigateur & mobile</span><br />
            <span class="project-desc">Galactae: Space Age Dawn est un jeu de stratégie par navigateur novateur, en effet, le jeu est developpé dans l'optique d'avoir un maximum de gameplay (façons de jouer) différents. Vous y incarnez l'un des 3 dirigeants proposés afin de faire évoluer votre nation et faire grandir votre influence dans la galaxie.</span><br /><br />
            <span class="project-logo"><a href="https://galactae.eu" rel="noopener noreferrer" target="_blank"><img src="img/icons/galactae.jpg" alt="galactae.eu"></a></span>
            <span class="project-url">
                <a href="https://galactae.eu" rel="noopener noreferrer" target="_blank">www.galactae.eu</a><br /><br />
                <a href="https://play.google.com/store/apps/details?id=com.dysnomia.galactae" rel="noopener noreferrer" target="_blank"><img src="img/android.png" alt="android app"></a>
                <a rel="noopener noreferrer" target="_blank"><img src="img/ios-soon.png" alt="ios app"></a>
                <a rel="noopener noreferrer" target="_blank"><img src="img/windows-store-soon.png" alt="windows app"></a>
            </span><br />
        </div>
    </div>
</section>

<div id="contact" class="anchor"></div>
<section id="index-contact" class="corps">
    <h2>Contact</h2>

    @if (@ViewData["Message"] != null) {
        <h1>@ViewData["Message"]</h1>
    }

    <form method="post" action="contact#contact">
        <input type="text" name="name" placeholder="Nom" required>
        <input type="text" name="mail" placeholder="Mail" required><br /><br />
        <select name="objet">
            <option disabled selected>Objet du message</option>
            <option value="partner">Partenariat</option>
            <option value="galactae" disabled>Galactae (cf. site officiel)</option>
            <option value="dehashme">Dehash.me</option>
            <option value="howtoopenme">Howtoopen.me</option>
            <option value="autre">Autre</option>
        </select><br /><br />
        <textarea name="message"></textarea><br />
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="***REMOVED***"></div>
        <input type="submit" value="Envoyer">
    </form>
</section>

<footer>
    <table aria-describedby="first footer">
        <tr class="first-footer">
            <td>
                <ul>
                    <li><h3>Galactae</h3></li>
                    <li><a href="https://galactae.eu">Site officiel</a></li>
                    <li><a href="https://galactae.eu/medias">Galerie</a></li>
                    <li><a href="https://galactae.eu/blog">DevBlog</a></li>
                </ul>
            </td>

            <td>
                <ul>
                    <li><h3>Autres sites</h3></li>
                    <li><a href="https://dehash.me">Dehash.me</a></li>
                    <li><a href="https://howtoopen.me">HowToOpen.Me</a></li>
                </ul>
            </td>

            <td>
                <ul>
                    <li><h3>Reseaux sociaux</h3></li>
                    <li><a href="redir/facebook.php">Facebook</a></li>
                    <li><a href="redir/twitter.php">Twitter</a></li>
                    <li><a href="redir/youtube.php">Youtube</a></li>
                    <li><a href="https://discord.gg/c8aARey">Discord</a></li>
                </ul>
            </td>

            <td>
                <ul>
                    <li><h3>Divers</h3></li>
                    <li><a href="https://bugs.dysnomia.studio">Bug tracker</a></li>
                </ul>
            </td>
        </tr>
    </table>
    <table aria-describedby="second footer">
        <tr class="second-footer">
            <td>
                Dysnomia <!-- - Société au capital de XXXX€ - --> - SIREN: 851 292 714<br />
                Copyright 2018-@DateTime.Now.Year - Tout droits reservés
            </td>
        </tr>
    </table>
</footer>