<section class="corps-text privacy">
    <h1>@Localizer["Privacy.MainTitle"]</h1>

    <div id="general">
        <h2>General</h2>

        <h3 id="usage-statistics">Usage Statistics</h3>
        <p><b>IP, OS Name, Browser name</b> are stored and used in usage statistics. This will only be keeped for us, never shared. We use it to detect bots, and make stats about our websites.</p>

        <h3 id="logs">Logs</h3>
        <p><b>IP, User Agent (Browser name and version, OS name and version)</b> are stored in our log files when using some of our services for security reasons. This will only be keeped for us, never shared.</p>

        <h3 id="bots">Bots and spam</h3>
        <p><b>IP, session cookie</b> are used to prevent bots and spammers.</p>

        <h3 id="advertisement">Advertisement</h3>
        <p>Dysnomia websites uses Google AdSense for advertisement. We do not have control on how Google/use store your data.</p>

        <h3 id="advertisement">Google captcha</h3>
        <p>Dysnomia websites uses Google Captcha in some forms. We do not have control on how Google store/use your data</p>
    </div>

    <div id="achieve-games">
        <h2><a href="https://achieve.games">Achieve.games</a></h2>

        <h3><a href="#usage-statistics">Usage Statistics</a></h3>
        <h3><a href="#logs">Logs</a></h3>
        <h3><a href="#advertisement">Advertisement</a></h3>

        <h3>Steam Data</h3>
        <p>We do not keep any non-public <b>user data</b> from Steam accounts. Some data are stored in database, some in memory and automatically cleaned. If you turn your Steam profile private, data will automatically be cleaned within few days (depending on cache delay).</p>

        <h3>Blizzard Data</h3>
        <p>If you ungrant access to your account for our website, data will automatically be cleaned within few days (depending on cache delay).</p>

        <h3>User Data</h3>
        <p>We keep links between accounts, example: Battle.net and Steam account of the same person. We only keep public id and name, no private user data is stored in database.</p>

        <h3>Cookies</h3>
        <p>The only cookie we create and have control on is the session Cookie. It's used to prevent <a href="#bots">bots or spam</a> and to retrieve user accounts.</p>
    </div>

    <div id="dehash-me">
        <h2><a href="https://dehash.me">Dehash.me</a></h2>

        <h3><a href="#usage-statistics">Usage Statistics</a></h3>
        <h3><a href="#logs">Logs</a></h3>
        <h3><a href="#advertisement">Advertisement</a></h3>

        <h3>Cookies</h3>
        <p>The only cookie we create and have control on is the session Cookie. It's used to prevent <a href="#bots">bots or spam</a> and to retrieve user accounts.</p>
    </div>

    <div id="galactae">
        <h2><a href="https://galactae.eu">Galactae: Space Age Dawn</a></h2>

        <h3><a href="#usage-statistics">Usage Statistics</a></h3>
        <h3><a href="#logs">Logs</a></h3>
        <h3><a href="https://***REMOVED***/website/pdf/cgu.pdf">Terms & Conditions</a></h3>
    </div>
</section>
