.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;

	overflow-y: auto;
	text-align: center;
	width: calc(300px - 3rem);

	padding: 0.5rem;
}
@media (max-width: 1150px) {
	.sidebar {
		display: none;
	}
}
/* TODO: mobile */

.sidebar img {
	max-width: 80%;
}

.project-list {
	border-bottom: 1px solid #ffffff11;
	border-top: 1px solid #ffffff11;
	margin-bottom: 1rem;
}

.project-list-item {
	border: 1px solid transparent;
	color: white;
	display: inline-block;
	margin: 1rem 0;
	padding: 0.5rem;
	
	text-decoration: none;
	width: calc(100% - 2px - 1rem);
}
.project-list-item:hover {
	border-color: #ffffff33;
}
.project-list-item img {
	padding-bottom: 0.5rem;
}

.sidebar-link {
	color: white;
	display: block;
	padding: 0.3rem;
	text-align: center;
	text-decoration: none;
}
.sidebar-link:hover {
	text-decoration: underline;
}